USE [master]
GO
/****** Object:  Database [LMYFrameworkCore]    Script Date: 3/11/2019 4:04:15 PM ******/
CREATE DATABASE [LMYFrameworkCore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LMYFrameworkCore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LMYFrameworkCore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LMYFrameworkCore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LMYFrameworkCore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMYFrameworkCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMYFrameworkCore]
GO
USE [LMYFrameworkCore]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/11/2019 4:04:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 3/11/2019 4:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[ID] [nvarchar](128) NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[RoleID] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/11/2019 4:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[PasswordHash] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (N'SystemAdmin', N'System admin - مدير النظام')
INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID]) VALUES (N'644cdd3f-cd0b-4117-8361-9a8e90b0242f', N'd2e63ce3-3149-4446-b41b-54c023f03130', N'SystemAdmin')
INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID]) VALUES (N'69d40e47-4cb1-4aa1-91cc-d230091ff01b', N'296842aa-911b-4796-93d9-0e634a21e68a', N'SystemAdmin')
INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID]) VALUES (N'7aa9afb5-19fa-4ab9-93e6-b9c32997170c', N'e924f6a1-9795-4051-938f-a65fca70d324', N'SystemAdmin')
INSERT [dbo].[Users] ([ID], [Email], [UserName], [Name], [PasswordHash]) VALUES (N'17ca98d9-16bc-4f3d-9869-7f9f8035fd86', N'qwe', N'qwe', N'qwe', N'ADOdDFtuMwewgHaBrDjRWXmmK+2HBRlFad0bJ1tUmr9vYUvDYcKVg3998uc+3zB0DQ==')
INSERT [dbo].[Users] ([ID], [Email], [UserName], [Name], [PasswordHash]) VALUES (N'296842aa-911b-4796-93d9-0e634a21e68a', N'123', N'123', N'asd', N'AJt0uiEgQRD1w+/s/j0fIAE1GmzwP5OLr9pzVvlAoB/5ON2/pdc55YQwaurJLTn5ZA==')
INSERT [dbo].[Users] ([ID], [Email], [UserName], [Name], [PasswordHash]) VALUES (N'65911545-dafc-4d16-9127-33ba89437f58', N'123', N'123', N'asd', N'ADn6bX9KI+sxFUUOCADvK+pw/55Alpf6eWQ101oSUtbJ5TIoPsoW5Xx9WJ3BcD+ZSg==')
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
USE [master]
GO
